WS_Orquestador/resources/Orquestador.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Orquestador" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://Orquestador" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://Orquestador">
            <xs:element name="verReservasCliente">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verReservasClienteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="reservasCliente" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registrarCliente">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="apellido1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="apellido2" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registrarClienteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="confirmacion" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenerOfertas">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ciudadOrigen" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="ciudadDestino" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fechaSalida" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fechaRegreso" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="obtenerOfertasResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ofertas" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="comprobarClienteRegistrado">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="comprobarClienteRegistradoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="confirmacion" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="comprarBillete">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_oferta" type="xs:string"/>
                        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="iban" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="comprarBilleteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="confirmacion" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="comprarBilleteResponse">
    <wsdl:part name="parameters" element="ns:comprarBilleteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="comprarBilleteRequest">
    <wsdl:part name="parameters" element="ns:comprarBillete">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verReservasClienteRequest">
    <wsdl:part name="parameters" element="ns:verReservasCliente">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registrarClienteRequest">
    <wsdl:part name="parameters" element="ns:registrarCliente">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registrarClienteResponse">
    <wsdl:part name="parameters" element="ns:registrarClienteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="comprobarClienteRegistradoRequest">
    <wsdl:part name="parameters" element="ns:comprobarClienteRegistrado">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verReservasClienteResponse">
    <wsdl:part name="parameters" element="ns:verReservasClienteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerOfertasResponse">
    <wsdl:part name="parameters" element="ns:obtenerOfertasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="comprobarClienteRegistradoResponse">
    <wsdl:part name="parameters" element="ns:comprobarClienteRegistradoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerOfertasRequest">
    <wsdl:part name="parameters" element="ns:obtenerOfertas">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrquestadorPortType">
    <wsdl:operation name="comprarBillete">
      <wsdl:input message="ns:comprarBilleteRequest" wsaw:Action="urn:comprarBillete">
    </wsdl:input>
      <wsdl:output message="ns:comprarBilleteResponse" wsaw:Action="urn:comprarBilleteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verReservasCliente">
      <wsdl:input message="ns:verReservasClienteRequest" wsaw:Action="urn:verReservasCliente">
    </wsdl:input>
      <wsdl:output message="ns:verReservasClienteResponse" wsaw:Action="urn:verReservasClienteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarCliente">
      <wsdl:input message="ns:registrarClienteRequest" wsaw:Action="urn:registrarCliente">
    </wsdl:input>
      <wsdl:output message="ns:registrarClienteResponse" wsaw:Action="urn:registrarClienteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comprobarClienteRegistrado">
      <wsdl:input message="ns:comprobarClienteRegistradoRequest" wsaw:Action="urn:comprobarClienteRegistrado">
    </wsdl:input>
      <wsdl:output message="ns:comprobarClienteRegistradoResponse" wsaw:Action="urn:comprobarClienteRegistradoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerOfertas">
      <wsdl:input message="ns:obtenerOfertasRequest" wsaw:Action="urn:obtenerOfertas">
    </wsdl:input>
      <wsdl:output message="ns:obtenerOfertasResponse" wsaw:Action="urn:obtenerOfertasResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrquestadorSoap11Binding" type="ns:OrquestadorPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="comprarBillete">
      <soap:operation soapAction="urn:comprarBillete" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verReservasCliente">
      <soap:operation soapAction="urn:verReservasCliente" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarCliente">
      <soap:operation soapAction="urn:registrarCliente" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comprobarClienteRegistrado">
      <soap:operation soapAction="urn:comprobarClienteRegistrado" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerOfertas">
      <soap:operation soapAction="urn:obtenerOfertas" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrquestadorSoap12Binding" type="ns:OrquestadorPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="comprarBillete">
      <soap12:operation soapAction="urn:comprarBillete" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verReservasCliente">
      <soap12:operation soapAction="urn:verReservasCliente" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarCliente">
      <soap12:operation soapAction="urn:registrarCliente" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comprobarClienteRegistrado">
      <soap12:operation soapAction="urn:comprobarClienteRegistrado" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerOfertas">
      <soap12:operation soapAction="urn:obtenerOfertas" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrquestadorHttpBinding" type="ns:OrquestadorPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="comprarBillete">
      <http:operation location="comprarBillete"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verReservasCliente">
      <http:operation location="verReservasCliente"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarCliente">
      <http:operation location="registrarCliente"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comprobarClienteRegistrado">
      <http:operation location="comprobarClienteRegistrado"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerOfertas">
      <http:operation location="obtenerOfertas"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Orquestador">
    <wsdl:port name="OrquestadorHttpSoap12Endpoint" binding="ns:OrquestadorSoap12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/Orquestador"/>
    </wsdl:port>
    <wsdl:port name="OrquestadorHttpSoap11Endpoint" binding="ns:OrquestadorSoap11Binding">
      <soap:address location="http://localhost:8080/axis2/services/Orquestador"/>
    </wsdl:port>
    <wsdl:port name="OrquestadorHttpEndpoint" binding="ns:OrquestadorHttpBinding">
      <http:address location="http://localhost:8080/axis2/services/Orquestador"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
