Orquestador.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ws.apache.org/axis2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://ws.apache.org/axis2">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
            <xs:element name="elegirOrigenDestino">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ciudadOrigen" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="ciudadDestino" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="elegirOrigenDestinoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="vuelos" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="comprarBillete">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_vuelo" type="xs:int"/>
                        <xs:element minOccurs="0" name="datos_personales" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="elegirOrigenDestinoRequest">
        <wsdl:part name="parameters" element="ns:elegirOrigenDestino"/>
    </wsdl:message>
    <wsdl:message name="elegirOrigenDestinoResponse">
        <wsdl:part name="parameters" element="ns:elegirOrigenDestinoResponse"/>
    </wsdl:message>
    <wsdl:message name="comprarBilleteRequest">
        <wsdl:part name="parameters" element="ns:comprarBillete"/>
    </wsdl:message>
    <wsdl:portType name="OrquestadorPortType">
        <wsdl:operation name="elegirOrigenDestino">
            <wsdl:input message="ns:elegirOrigenDestinoRequest" wsaw:Action="urn:elegirOrigenDestino"/>
            <wsdl:output message="ns:elegirOrigenDestinoResponse" wsaw:Action="urn:elegirOrigenDestinoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="comprarBillete">
            <wsdl:input message="ns:comprarBilleteRequest" wsaw:Action="urn:comprarBillete"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrquestadorSoap11Binding" type="ns:OrquestadorPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="elegirOrigenDestino">
            <soap:operation soapAction="urn:elegirOrigenDestino" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="comprarBillete">
            <soap:operation soapAction="urn:comprarBillete" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OrquestadorSoap12Binding" type="ns:OrquestadorPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="elegirOrigenDestino">
            <soap12:operation soapAction="urn:elegirOrigenDestino" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="comprarBillete">
            <soap12:operation soapAction="urn:comprarBillete" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OrquestadorHttpBinding" type="ns:OrquestadorPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="elegirOrigenDestino">
            <http:operation location="elegirOrigenDestino"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="comprarBillete">
            <http:operation location="comprarBillete"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Orquestador">
        <wsdl:port name="OrquestadorHttpSoap11Endpoint" binding="ns:OrquestadorSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/Orquestador"/>
        </wsdl:port>
        <wsdl:port name="OrquestadorHttpSoap12Endpoint" binding="ns:OrquestadorSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/Orquestador"/>
        </wsdl:port>
        <wsdl:port name="OrquestadorHttpEndpoint" binding="ns:OrquestadorHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/Orquestador"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
