ServicioBanco.wsdl

<?xml version="1.0" encoding="UTF-8"?>
  <wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:ns1="http://org.apache.axis2/xs"
    xmlns:ns="http://Banco"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    targetNamespace="http://Banco">
   <wsdl:documentation>
    Service: Servicio Banco
    Version: 1.0
    Owner: AST C3.
  </wsdl:documentation>
  <!-- Types element: -->
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://Banco">
      <!-- Envio de la informacion al banco -->
      <xs:element name="getInfoBanco">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="CodigoVuelo" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="NumeroTarjeta" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getInfoBancoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="InfoBancoResponse" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <!-- END Types element: -->
  <!-- Message element: -->
  <wsdl:message name="getInfoBancoRequest">
    <wsdl:part name="parameters" element="ns:getInfoBanco"/>
  </wsdl:message>
  <wsdl:message name="getInfoBancoResponse">
    <wsdl:part name="parameters" element="ns:getInfoBancoResponse"/>
  </wsdl:message>
  <!-- END Message element: -->
  <!-- portType element: -->
  <wsdl:portType name="BancoPortType">
    <wsdl:documentation>Description of the business interface</wsdl:documentation>
    <!-- operation of getInfoBanco -->
    <wsdl:operation name="getInfoBanco">
      <wsdl:input message="ns:getInfoBancoRequest" wsaw:Action="urn:getInfoBanco"/>
      <wsdl:output message="ns:getInfoBancoResponse" wsaw:Action="urn:getInfoBancoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <!-- END portType element: -->
  <!-- binding elements -->
  <wsdl:binding name="BancoSoap11Binding" type="ns:BancoPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getInfoBanco">
      <soap:operation soapAction="urn:getInfoBanco" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BancoSoap12Binding" type="ns:BancoPortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
	 <wsdl:operation name="getInfoBanco">
            <soap12:operation soapAction="urn:getDescripcion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BancoHttpBinding" type="ns:BancoPortType">
      <http:binding verb="POST"/>
        <wsdl:operation name="getInfoBanco">
            <http:operation location="getInfoBanco"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
  </wsdl:binding>
  <!-- END binding elements -->
  <!-- service element -->
  <wsdl:service name="Banco">
      <wsdl:port name="BancoHttpSoap11Endpoint" binding="ns:BancoSoap11Binding">
          <soap:address location="http://localhost:8080/axis2/services/Banco"/>
      </wsdl:port>
      <wsdl:port name="BancoHttpSoap12Endpoint" binding="ns:BancoSoap12Binding">
          <soap12:address location="http://localhost:8080/axis2/services/Banco"/>
      </wsdl:port>
      <wsdl:port name="BancoHttpEndpoint" binding="ns:BancoHttpBinding">
          <http:address location="http://localhost:8080/axis2/services/Banco"/>
      </wsdl:port>
  </wsdl:service>
  <!-- END service element -->
</wsdl:definitions>
