ServicioVuelos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ws.apache.org/axis2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://ws.apache.org/axis2">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
            <xs:element name="getInfoVuelos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="aeropuertosOrigen" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="aeropuertosDestino" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInfoVuelosResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="vuelos" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getInfoVuelosRequest">
        <wsdl:part name="parameters" element="ns:getInfoVuelos"/>
    </wsdl:message>
    <wsdl:message name="getInfoVuelosResponse">
        <wsdl:part name="parameters" element="ns:getInfoVuelosResponse"/>
    </wsdl:message>
    <wsdl:portType name="ServicioVuelosPortType">
        <wsdl:operation name="getInfoVuelos">
            <wsdl:input message="ns:getInfoVuelosRequest" wsaw:Action="urn:getInfoVuelos"/>
            <wsdl:output message="ns:getInfoVuelosResponse" wsaw:Action="urn:getInfoVuelosResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServicioVuelosSoap11Binding" type="ns:ServicioVuelosPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getInfoVuelos">
            <soap:operation soapAction="urn:getInfoVuelos" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServicioVuelosSoap12Binding" type="ns:ServicioVuelosPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getInfoVuelos">
            <soap12:operation soapAction="urn:getInfoVuelos" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServicioVuelosHttpBinding" type="ns:ServicioVuelosPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getInfoVuelos">
            <http:operation location="getInfoVuelos"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServicioVuelos">
        <wsdl:port name="ServicioVuelosHttpSoap11Endpoint" binding="ns:ServicioVuelosSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ServicioVuelos"/>
        </wsdl:port>
        <wsdl:port name="ServicioVuelosHttpSoap12Endpoint" binding="ns:ServicioVuelosSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/ServicioVuelos"/>
        </wsdl:port>
        <wsdl:port name="ServicioVuelosHttpEndpoint" binding="ns:ServicioVuelosHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/ServicioVuelos"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
